body {
    background-color: #00979c;
    padding: 0px;
    margin: 0px;
}

.img {
  margin: auto;
  margin-top: 15%;
  height: 200px;
  width: 293px;
  background: url(../img/img.png) center center no-repeat;
  background-size: cover;
}